@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Work+Sans:wght@200&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';
#wr h2,
#wr h3,
#wr h4,
#wr h5,
#wr h6,
#wr input[type="text"],
#wr label, 
#wr button,
#wr .btn,
#wr small,
#wr p,
#wr span,
#wr Link {
    font-family: 'Open Sans', sans-serif;
}
#wr {
    padding: 50px;
    background: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#wr h1,
#wr h2,
#wr h3,
#wr h4,
#wr h5, 
#wr h6 {
    
    font-weight: bold;
}
#wr h5.indent {
    margin: 10px;
}
#wr .hover-black:hover {
    color: black;
}
#wr ol,
#wr ol.li {
    margin:0;
    padding:20px;
}
#wr .form-control::placeholder {
    color: lightgray;
    opacity: 1;
}
#wr .form-control:-ms-input-placeholder {
    color: lightgray;
}
#wr .form-control::-ms-input-placeholder {
    color: lightgray;
}
#wr mark.linespacing {
    line-height: 1.5;
}
#wr .currency-item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    margin-bottom: 0.5em;
}
#wr .label {
    text-align: left;
}
#wr .amount {
    text-align: right;
}
#wr button.removebutton {
    background: none;
    color: #000;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
#wr .input-group {
    text-align: center;
}
#wr .outter {
    max-width: 1000px;
}
#wr .google-profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#wr input[type=checkbox], 
#wr input[type=radio]
{
    width:30px;
    height:30px;
    vertical-align: middle;
}
#wr .middle {
    vertical-align: middle;
}
#wr .icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
#wr .removebutton:hover {
    text-decoration: underline;
    text-shadow: 0.3px 0.3px;
}
#wr .logofont {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 20pt;
    margin: 0;
}
#wr .logofont2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20pt;
    margin: 0;
}
#wr .blackborder {
    border: 2px solid black;
    background:#fff;
}
#wr .rounded {
    border-radius: 10px;
}
#wr .cartitem:nth-child(even) {
    background-color: #f5f5f5;
    border-radius:10px;
}
#wr .btn {
    font-weight:500;
}
#wr input,
#wr textarea,
#wr .qtyselectordisplay {
    font-weight: 900;
}
#wr .qtyselectordisplay {
    text-align: center;
    width: 40px;
}
#wr code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
